body {
    margin: 0;
    max-width: 100vw;
    height: 100vh; /* Make the body fill the viewport height */
    overflow: hidden;
}

pre, code {
    overflow: auto;
}

#pageContainer {
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 90vh;
}

#blocklyDiv {
    flex-basis: 100%;
    height: 100%;
    min-width: 600px;
    padding: 5px;
}

#outputPane {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex: 0 0 300px;
    overflow: auto;
    margin: 1rem;
}

#generatedCode {
    height: 50%;
    background-color: rgb(247, 240, 228);
}

#output {
    height: 50%;
}

#menu {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 7px;
    width: 100%;
    max-width: 100vw;
  }

  #dropdown {
    width: 150px;
    height: 30px;
    padding: 5px;
    margin-right: 10px;
    min-width: 150px;
  }
  

  #run_btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px; /* Adjust margin to control spacing */
  }
  